.logoContainer {
  display: flex;
  align-items: center;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9cc1b4;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.logoText {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.text {
  font-weight: 700;
  color: white;
  font-size: 16px;
  margin-left: 8px;
}
