.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 42px;
  background-color: #3b3b3b;
  width: 15%;
  height: 100vh;
  box-shadow: rgba(50, 50, 105, 0.15) 5px 0px 10px 0px;
}

.navItem {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.navIcon {
  font-size: 24px;
  color: white;
}

.navLink {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
